#backdrop {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 2;

  #backdrop-content {
    #backdrop-close {
      width: 100%;
      text-align: right;
      color: white;

      button {
        color: black;
      }
    }
  }

  #slide-menu-box {
    width: 100vw;
    height: 100vh;

    #slide-menu-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-width: 350px;
      width: 50%;
      padding: 0;
      padding-top: 8em;
      padding-left: 2.5em;

      .slide-menu-item {
        padding: 0;
        width: 100%;
        margin-top: 0.5em;

        a {
          display: flex;
          align-items: center;
        }

        button {
          background-color: white;
          color: black;
          margin-right: 0.5em;
        }

        span {
          display: inline-block;
          background-color: white;
        }
      }
    }
  }

  #login-modal-box {
    margin: 0 auto;
    padding: 1em;
    background-color: whitesmoke;
    width: 30em;
    height: 15em;
    color: black;
    text-align: center;
  }
}

#backdrop.full {
  z-index: 2002;
}

/* Tablet */
@media (max-width: 1279px) {
  #backdrop {
    #slide-menu-box {
      #slide-menu-list {
        width: 70%;
        min-width: 0;
        padding-top: 6em;
        padding-left: 1.5em;
      }
    }

    #login-modal-box {
      width: 26em;
      height: auto;
    }
  }
}

/* Mobile */
@media (max-width: 799px) {
  #backdrop {
    #slide-menu-box {
      #slide-menu-list {
        width: 100%;
        min-width: 0;
        padding-top: 5em;
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    #login-modal-box {
      width: 90vw;
      height: auto;
    }
  }
}