#backdrop {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 2;

  #backdrop-content {
    #backdrop-close {
      width: 100%;
      text-align: right;
      color: white;

      button {
        color: black;
      }
    }
  }

  #slide-menu-box {
    width: 100vw;
    height: 100vh;

    #slide-menu-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-width: 350px;
      width: 50%;
      padding: 0;
      padding-top: 8em;
      padding-left: 2.5em;

      .slide-menu-item {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        margin-top: 0.5em;

        button {
          background-color: white;
          color: black;
          margin-right: 0.5em;
        }

        span {
          display: inline-block;
          background-color: white;
        }
      }
    }
  }

  #login-modal-box {
    margin: 0 auto;
    padding: 1em;
    background-color: whitesmoke;
    width: 30em;
    height: 15em;
    color: black;
    text-align: center;
  }
}

#backdrop.full {
  z-index: 2002;
}
