@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

$font-stack:
  "Pretendard",
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  "Helvetica Neue",
  "Segoe UI",
  "Apple SD Gothic Neo",
  "Noto Sans KR",
  "Malgun Gothic",
  sans-serif !important;

body {
  margin: 0;
  height: 1500px;
  font-family: $font-stack;
}

#root {
  width: 100%;

  #container {
    padding: 0;
  }
}
@import url(_backdrop.scss);
@import url(_header.scss);
@import url(_main.scss);
