@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

$font-stack:
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Noto Color Emoji",
  "Pretendard",
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  "Helvetica Neue",
  "Segoe UI",
  "Apple SD Gothic Neo",
  "Noto Sans KR",
  "Malgun Gothic",
  sans-serif !important;

body {
  margin: 0;
  font-family: $font-stack;
}

#root {
  width: 100%;
  min-height: 100vh;

  #container {
    padding: 0;
  }
}

.MuiDialog-root {
  z-index: 2001 !important;
}

.MuiAutocomplete-popper {
  z-index: 2002 !important;
}

@import "_backdrop.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
