#admin {
  #admin-list,
  #admin-form,
  #admin-menu-list,
  #admin-menu-form {
    min-height: 80vh;
    padding: 0.5em;
  }

  #admin-list,
  #admin-menu-list {
    border: 1px solid #ececec;

    #add-btn-box {
      text-align: right;

      #add-btn {
        padding: 0;
      }
    }

    ul {
      padding-top: 0;
    }
  }

  #admin-menu-form {
    padding: 1em;

    .label {
      display: flex;
      justify-content: center;
      align-items: center;

      #mui-icons-view {
        padding: 0.2em;
        transform: rotate(45deg);

        svg {
          font-size: 16px;
        }
      }
    }

    .input-label {
      margin-left: -1em;
    }

    .MuiGrid2-direction-xs-row {
      min-height: 5em;
    }

    #preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;
      margin: 0.5em;
      margin-left: 2em;
      padding: 0.5em;
      border: 1px solid #ececec;
      border-radius: 1em;
      background-color: #ececec;

      .preview-row {
        min-width: 40%;

        .preview-col {
          height: 3em;
          display: inline-flex;
          justify-content: start;
          align-items: center;
        }

        .preview-col.icon button,
        .preview-col.name {
          background-color: white;
          color: black;
        }

        .icon {
          margin-right: 0.5em;
        }

        .name {
          margin-left: 0.5em;
        }
      }
    }

    #btn-row {
      min-height: 2em;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  .on {
    background-color: #efefef !important;
  }
}
