#admin {
  #admin-form,
  #admin-menu-list,
  #admin-menu-form {
    min-height: 80vh;
    padding: 0.5em;
  }

  #admin-menu-list {
    border: 1px solid #ececec;

    #add-btn-box {
      text-align: right;

      #add-btn {
        padding: 0;
      }
    }

    ul {
      padding-top: 0;
    }
  }

  #admin-menu-form {
    padding: 1em;

    .label {
      display: flex;
      justify-content: center;
      align-items: center;

      #mui-icons-view {
        padding: 0.2em;
        transform: rotate(45deg);

        svg {
          font-size: 16px;
        }
      }
    }

    .input-label {
      margin-left: -1em;
    }

    .MuiGrid2-direction-xs-row {
      min-height: 5em;
    }

    .MuiFormHelperText-root.Mui-error {
      margin-left: 0;
    }

    #preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;
      margin: 0.5em;
      margin-left: 2em;
      padding: 0.5em;
      border: 1px solid #ececec;
      border-radius: 1em;
      background-color: #ececec;

      .preview-row {
        min-width: 40%;

        .preview-col {
          height: 3em;
          display: inline-flex;
          justify-content: start;
          align-items: center;
        }

        .preview-col.icon button,
        .preview-col.name {
          background-color: white;
          color: black;
        }

        .icon {
          margin-right: 0.5em;
        }

        .name {
          margin-left: 0.5em;
        }
      }
    }

    #btn-row {
      min-height: 2em;
      display: flex;
      justify-content: end;
      align-items: center;

      button {
        margin: 0 0.2em;
      }
    }
  }

  .on {
    background-color: #efefef !important;
  }

  /*-- AUTH --*/
  #auth-form {
    margin-top: 2em;

    #search-input-row {
      border: 1px solid #fbfbfb;
      background-color: #fbfbfb;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      border-radius: 10em;

      .input-label {
        margin-left: -1em;
      }

      .MuiFormHelperText-root.Mui-error {
        margin-left: 0;
        position: absolute;
        top: 4em;
      }

      .MuiGrid2-direction-xs-row:nth-child(1) {
        padding: 2em 0 2em 3em;
      }

      .MuiGrid2-direction-xs-row:nth-child(2) {
        padding: 2em 0;
      }

      .MuiGrid2-direction-xs-row:nth-child(3) {
        padding: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          margin-left: 0;
        }
      }

      .MuiGrid2-direction-xs-row:nth-child(4) {
        padding: 2em 1em 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        border-radius: 0 10em 10em 0;
        background-color: #f6f6f6;
      }

      .MuiGrid2-direction-xs-row:nth-child(4):hover {
        background-color: #ececec;
      }
    }

    #search-result-list {
      #search-result-top {
        padding: 3em 0 1em 0;

        #search-result-funcBtn {
          display: flex;
          justify-content: end;
          align-items: center;

          Button {
            margin-left: 0.3em;
          }
        }
      }

      .search-result-header,
      .search-result-row {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;

        .sort {
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .MuiGrid2-direction-xs-row {
          margin: 0.5em 0;
          border-right: 1px solid #ececec;
        }

        .MuiGrid2-direction-xs-row:nth-child(8) {
          border-right: none;
        }
      }

      .search-result-row:hover {
        cursor: pointer;
        background-color: aliceblue;
        font-weight: 500;
      }

      .search-result-row.so-y {
        font-style: italic;
        color: #555555;
      }
    }
  }
}
