.dlog-pannel {
  .dlog-pannel-header {
    padding: 1em;

    span {
      display: inline !important;
      .dlog-pannel-header-status {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dlog-pannel-header-text {
        display: flex;
        align-items: center;

        span {
          margin: 0;
        }
      }

      .dlog-pannel-header-likes,
      .dlog-pannel-header-subs,
      .dlog-pannel-header-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .dlog-pannel-content {
    .dlog-pannel-content-col {
      padding: 0.5em;

      .dlog-content-card {
        box-shadow: none;
        border: 1px solid #ececec;
        border-radius: 10px;

        .dlog-content-card-title {
          height: 15em;
          display: flex;
          justify-content: center;
          align-items: center;

          p.dlog-content-card-title-text {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
            font-style: italic;
          }
        }

        .dlog-cotent-card-lang {
          margin: 0.1em;
        }

        .dlog-content-card-content-status {
          display: flex;
          justify-content: center;
          align-items: center;

          .status-likes,
          .status-views {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }

          .status-likes svg {
            font-size: 0.8em;
          }

          .status-views svg {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
.dlog-pannel.expended .dlog-pannel-header {
  background-color: rgb(246, 252, 255, 0.5);
}
