.dlog-pannel {
  .dlog-pannel-header {
    padding: 1em;

    span {
      display: inline !important;
      .dlog-pannel-header-status {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dlog-pannel-header-text {
        display: flex;
        align-items: center;

        span {
          margin: 0;
        }
      }

      .dlog-pannel-header-likes,
      .dlog-pannel-header-subs,
      .dlog-pannel-header-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .dlog-pannel-content {
    .dlog-pannel-content-col {
      padding: 0.5em;

      .dlog-content-card {
        box-shadow: none;
        border: 1px solid #ececec;
        border-radius: 10px;

        .dlog-content-card-title {
          height: 15em;
          display: flex;
          justify-content: center;
          align-items: center;

          p.dlog-content-card-title-text {
            text-align: center;
            font-weight: 600;
            font-size: 15px;
            font-style: italic;
          }
        }

        .dlog-content-card-lang {
          margin: 0.1em;

          .lang-chip {
            font-size: smaller;
            height: 25px;
            margin-bottom: 2px;
            margin-right: 2px;

            .lang-chip-avatar {
              width: 18px;
              height: 18px;
            }

            .lang-chip-avatar {
              color: white;
              font-size: 10px;
            }

            span {
              padding: 12px;
            }
          }
        }

        .dlog-content-card-content-status {
          display: flex;
          justify-content: center;
          align-items: center;

          .status-likes,
          .status-views {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }

          .status-likes svg {
            font-size: 0.8em;
          }

          .status-views svg {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
.dlog-pannel.expended .dlog-pannel-header {
  background-color: rgb(246, 252, 255, 0.5);
}

#item-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  border: 1px solid #ececec;
  border-radius: 10px;

  #item-header {
    width: 100%;

    #item-title {
      text-align: center;
    }

    #item-reg-date {
      text-align: center;
      color: darkgrey;
    }

    #item-langs {
      margin-top: 1em;
      display: flex;
      justify-content: center;

      .lang-chip {
        font-size: smaller;
        height: 25px;
        margin-bottom: 2px;
        margin-right: 2px;

        .lang-chip-avatar {
          width: 18px;
          height: 18px;
        }

        .lang-chip-avatar {
          color: white;
          font-size: 10px;
        }

        span {
          padding: 12px;
        }
      }
    }

    #btn-box {
      margin-top: 1em;
      display: flex;
      justify-content: end;
    }
  }

  hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0.1rem solid #ececec;
  }

  #item-contents {
    width: 100%;
  }
}
